<%- include("partials/header", { title: "Categories", active: "categories" }) %>

<h1 class="text-center">Categories</h1>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="https://images.pexels.com/photos/3076899/pexels-photo-3076899.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=200&w=200" class="card-img-top" alt="Home & Garden">
            <div class="card-body"><h5 class="card-title">Home, Garden</h5></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="https://images.pexels.com/photos/7915357/pexels-photo-7915357.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=200&w=200" class="card-img-top" alt="Electronics">
            <div class="card-body"><h5 class="card-title">Electronics</h5></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="https://images.pexels.com/photos/1884584/pexels-photo-1884584.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=200&w=200" class="card-img-top" alt="Clothing">
            <div class="card-body"><h5 class="card-title">Clothing</h5></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="https://images.pexels.com/photos/30461455/pexels-photo-30461455.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=200&w=200" class="card-img-top" alt="Sports & Outdoors">
            <div class="card-body"><h5 class="card-title">Sports & Outdoors</h5></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="https://images.pexels.com/photos/3628100/pexels-photo-3628100.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=200&w=200" class="card-img-top" alt="Pets">
            <div class="card-body"><h5 class="card-title">Pets</h5></div>
        </div>
    </div>
</div>

<%- include("partials/footer") %>
