body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
}

.item-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 1em;
    padding: 1em;
    text-align: center;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item-card img {
    width: 100%;
    border-radius: 5px;
}

.item-card h2 {
    font-size: 1.2em;
    margin: 0.5em 0;
}


html, body {
    height: 100%;
    margin: 0; 
    display: flex;
    flex-direction: column; 
}

main.container {
    flex: 1;
    padding: 20px; 
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
    margin-top: auto; 
}

